name: Authorization

on:
  workflow_dispatch:

jobs:
  Authorization:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '16'
      - name: Cache access token
        uses: actions/cache@v4
        with:
          path: auth.json
          key: user_access_token_${{ github.run_number }}
      - name:
        run: node ./utils/spotify/refresh-auth.js
        env:
          SPOTIFY_CLIENT_ID: ${{ secrets.SPOTIFY_CLIENT_ID }}
          SPOTIFY_CLIENT_SECRET: ${{ secrets.SPOTIFY_CLIENT_SECRET }}
          SPOTIFY_REFRESH_TOKEN: ${{ secrets.SPOTIFY_REFRESH_TOKEN }}
