name: Playlist sync

on:
  workflow_run:
    workflows: [Validation]
    types: [completed]
    branches: [main]

jobs:
  sync:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '16'
      - name: Cache access token
        uses: actions/cache@v4
        with:
          path: auth.json
          key: dummy_key_${{ github.run_number }}
          restore-keys: user_access_token
      - name: Sync playlist
        run: node ./utils/spotify/sync.js